extends base
block head
  link(rel="stylesheet", href="/public/css/base.css")
block body
  script(src="./public/js/base.js", type="text/javascript", defer)
  h5 Categorias Inseridas
  div(class="container-items")
  form(method="POST", class="formCategoria")
    p Titulo
    input(type="text", name="titulo", required)
    p Descricao
    input(type="text", name="descricao")
    p Cor
    input(type="color", name="cor")
    br
    input(type="button", value="Inserir Categoria", class="categoriaSubmit")
  script(src="./public/js/categorias.js", type="text/javascript", defer)
  input(type="button",value="logout",class="logoutBtn")
