extends base
block body
  script(src="/public/js/inserirPaciente.js", type="text/javascript", defer)
  h5 Pagina de registo de um paciente
  form(method="POST", action="/paciente", class="form")
    p Nome
    input(type="text", name="nome", required)
    p Nome
    textarea(type="text", name="descricao", required)
    p Categoria (TODO)(fazer um get de todas as categorias do user e no post associar paciente á categoria selecionada)
    div(class="container-categorias")
    p UserID (TODO)(Não esquecer de associar user_id no backend)
    br
    input(type="submit", value="Efetuar Registo", class="submit")
    br
