extends base
block body
  h5 Pagina de login
  form(method="POST")
    p Email
    input(type="email", placeholder="exemplo@gmail.com", name="email", required)
    p Password
    input(type="password", placeholder="·······", name="password", required)
    br
    input(type="submit", value="Efetuar Login")
    br
    a(href="/registo") criar uma conta
