extends base
block head
  link(rel="stylesheet", href="/public/css/base.css")
block body
  script(src="./public/js/base.js", type="text/javascript", defer)
  h5 Pacientes Inseridos
  div(class="container-items")
    if pacientes
      table(class="tabela-pacientes")
        thead
          tr
            th Nome
            th IDCategoria
        tbody
          each paciente in pacientes
            tr(id!=paciente.paciente_id)
                td #{paciente.nome}
                td #{paciente.categoria_id}
    else if err
      p $(err)
    else
      p "Ocorreu algum erro, tente novamente mais tarde"
  input(type="button",value="logout",class="logoutBtn")
