extends base
block head
  link(rel="stylesheet", href="/public/css/base.css")
block body
  script(src="/public/js/base.js", type="text/javascript", defer)
  h5 Pacientes Inseridos
  if err
    h3(class="msgErro") #{err}
  div(class="container-items")
    table(class="tabela-pacientes")
      thead
        tr
          th Nome
          th Categoria
          th Data de Criação
        if pacientes
          tbody
            each paciente in pacientes
              tr
                // - Adicionar idpaciente ao elemento tr de cada paciente para poder depois listar mais especificamente
                td #{paciente.nome}
                td #{paciente.titulo}
                td #{paciente.created_at}
  input(type="button",value="logout",class="logoutBtn")
