extends base
block body
  script(src="/public/js/register.js", type="text/javascript", defer)
  h5 Pagina de registo
  form(method="POST", class="form")
    p Nome
    input(type="text", name="nome", required)
    p Email
    input(type="email", placeholder="exemplo@gmail.com", name="email", required)
    p Palavra-Passe
    input(type="password", placeholder="·······", name="password", required)
    br
    input(type="submit", value="Efetuar Registo", class="submit")
    br
    a(href="/") Efetuar login
