@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container-items {
  margin: auto;
  width: 98%;
  height: 90vh;
  border-radius: 20px;
  padding-top: 2vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #1c1c1c;
}

.item {
  width: 128px;
  height: 128px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.tabela-pacientes {
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  color: #fff;
  border: 3px solid #575757;
  text-align: center;
}

.tabela-pacientes th,
td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #141414;
}

tbody tr:nth-child(even) {
  background-color: #282828;
}
