body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container-categorias {
  margin: auto;
  width: 98%;
  height: 90vh;
  border-radius: 20px;
  padding-top: 2vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #1c1c1c;
}

.categoria {
  width: 128px;
  height: 128px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
